.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.container {
  text-align: center;
  padding: 20px;
}

.navbar {
  background-color: #343a40;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: relative;
}

.navbar-brand {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
}

.navbar-toggler {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  display: none;
  align-items: center;
}

.navbar-toggler-icon {
  background-color: white;
  width: 1.5rem;
  height: 2px;
  display: block;
  margin: 2px auto;
}

.navbar-toggler:focus {
  outline: none;
}

.navbar-toggler:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}

#navbarNav {
  display: flex;
  list-style: none;
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 1rem;
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}

.dropdown {
  position: relative;
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #343a40;
  border: 1px solid #343a40;
  border-radius: 4px;
  top: 100%;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-item {
  padding: 0.5rem 1rem;
  text-align: left;
}

.dropdown-item a {
  color: white;
  text-decoration: none;
}

.dropdown-item:hover {
  background-color: #333;
}


.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
}